<div id="<%= dom_id shark %>">
  <p>
    <strong>Name:</strong>
    <%= shark.name %>
  </p>

  <p>
    <strong>Facts:</strong>
    <%= shark.facts %>
  </p>

  <h2>Posts</h2>
  <%= render 'sharks/posts' %>
</div>
